a {
    background-color:blanchedalmond;
}
a{text-decoration-color: blue; display: block; white-space: inherit; spa align-self: start;}
            a.active{background-color: black;color: rgb(226, 206, 206);}
            a:hover:not(.active){background-color:chocolate;color: black;}
a{text-align: center;border-bottom: 0cap;border-color: brown;text-size-adjust: 20;display: inline;nav-up: auto;column: gap 70px;;flood-opacity: 0fr ;overflow: hidden;padding: 9px;background-image: url("C:\Users\91901\Dropbox\My PC (LAPTOP-F63C1FJE)\Downloads\brahmi.jpg");}  
h1{color:crimson;}   
div{font-size: larger;}  
img{width: 150;height: 150;}
nav{nav-right: auto;}

            


